<table id="result" style="display: none;">
    <thead>
        <tr>
            <th>Titolo</th>
            <th>Autore</th>
            <th>Data inserimento</th>
        </tr>
    </thead>
    <tbody id="tbody"></tbody>
</table>